{% extends "layout.html" %}

{% block body %}
  <div class="row">
    
    <div class="col-sm-12">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-danger fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('get_video')}}" method="POST">
           <div class="form-group">
            <input type="text" class="form-control" name="Adress" placeholder="Youtube Adress" required>
          </div>        
          <button class="btn btn-primary btn-block">
            Descargar 
          </button>
        </form>
      </div>
    </div>
  </div>
  </div>

{%endblock%}
